<div class="page-loader" id="js-page-loader">
  <div class="page-loader__content">
    <div class="hero__loader"></div>
    <div class="hero__text">
      <span class="hero__text-word is-loader">THIS IS</span>
      <span class="hero__text-word is-loader">BEAUTIFUL</span>
      <span class="hero__text-word is-loader">TITLE</span>
    </div>
  </div>
</div>
