<div class="container">
  <section class="section content">
    <h2 class="title is-2 has-text-centered">特徴</h2>
    <div class="feature">
      <div class="feature__item columns is-vcentered">
        <div class="column">
          <h3 class="title is-3">Videoタグの再生01</h3>
          <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
        <div class="column">
          <div class="video-bnr js-video-bnr">
            <video class="video-bnr__video" poster="img/hero/kv-video.jpg" muted controls>
              <source src="img/hero/kv-video.mp4" type="video/mp4">
              <p>video要素がサポートされていないブラウザでご覧になっています。</p>
            </video>
            <div class="video-bnr__overlay">
              <a href="#" class="video-bnr__btn"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="feature__item columns is-vcentered">
        <div class="column">
          <h3 class="title is-3">Videoタグの再生02</h3>
          <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
        <div class="column">
          <div class="video-bnr js-video-bnr">
            <video class="video-bnr__video" poster="img/hero/kv-video.jpg" muted controls>
              <source src="img/hero/kv-video.mp4" type="video/mp4">
              <p>video要素がサポートされていないブラウザでご覧になっています。</p>
            </video>
            <div class="video-bnr__overlay">
              <a href="#" class="video-bnr__btn"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="feature__item columns is-vcentered">
        <div class="column">
          <h3 class="title is-3">YouTubeの再生01</h3>
          <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
        <div class="column">
          <div class="video-bnr-youtube js-video-bnr-youtube" data-yt-video-id="M7lc1UVf-VE" data-yt-video-player="youtube-player1" data-yt-width="100%" data-yt-height="300">
            <div id="youtube-player1"></div>
            <div class="video-bnr-youtube__overlay">
              <a href="#" class="video-bnr-youtube__btn"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="feature__item columns is-vcentered">
        <div class="column">
          <h3 class="title is-3">YouTubeの再生02</h3>
          <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
        <div class="column">
          <div class="video-bnr-youtube js-video-bnr-youtube" data-yt-video-id="M7lc1UVf-VE" data-yt-video-player="youtube-player2" data-yt-width="100%" data-yt-height="300">
            <div id="youtube-player2"></div>
            <div class="video-bnr-youtube__overlay">
              <a href="#" class="video-bnr-youtube__btn"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
