<div class="hero" id="js-hero">
  <div class="hero__kv-video-wrapper" id="js-hero-kv-video-wrapper">
    <video class="hero__kv-video" id="js-hero-kv-video" poster="img/hero/kv-video.jpg" muted loop>
      <source src="img/hero/kv-video.mp4" type="video/mp4">
      <p>video要素がサポートされていないブラウザでご覧になっています。</p>
    </video>
  </div>
  <div class="kv-content">
    <h1 class="kv-content__title title is-1">タイトルが入ります</h1>
  </div>
  <div class="hero__kv-overlay" id="js-hero-kv-overlay"></div>
</div>
