<div class="container">
  <section class="section content">
    <h2 class="title is-2 has-text-centered">レクチャー動画</h2>
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="columns">
          <div class="column"><button class="button is-fullwidth" id="js-lecture-btn1">最初に戻る</button></div>
          <div class="column"><button class="button is-fullwidth" id="js-lecture-btn2">12秒に移動</button></div>
          <div class="column"><button class="button is-fullwidth" id="js-lecture-btn3">10秒戻る</button></div>
          <div class="column"><button class="button is-fullwidth" id="js-lecture-btn4">10秒進む</button></div>
        </div>
        <div class="lecture-video-wrapper">
          <video class="lecture-video" id="js-lecture-video" poster="/img/hero/kv-video.jpg" controls muted>
            <source src="/img/hero/kv-video.mp4" type="video/mp4">
            <p>video要素がサポートされていないブラウザでご覧になっています。</p>
          </video>
        </div>
      </div>
    </div>
  </section>
</div>
